.game
  .list
    .list-header
      h4 Mitspieler
    each players
      div(class="{{#if you}}indigo-text{{/if}} {{#if admin}}pink-text{{/if}}").list-item #{username}
        span(title="#{words}").indigo-text.text-lighten-2 (#{stats})
        if admin
          span.grey-text (Admin)
        if you
          span.grey-text (Du)
  
  .list.single-content
    .list-header
      h4 Deine wörter
    each words
      div(_id="#{word._id}").list-item.waves-effect.toggle #{word.word}
        input(type="checkbox" checked="{{#if done}}checked{{/if}}" id="#{word._id}")
        label(for="#{word._id}").right
    
